[submodule "shells"]
	path = shells
	url = https://github.com/UofT-HPRC/shells.git
[submodule "HUMboldt"]
	path = HUMboldt
	url = https://github.com/UofT-HPRC/HUMboldt.git
[submodule "Catch2"]
	path = util/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "util/argparse"]
	path = util/argparse
	url = https://github.com/hbristow/argparse.git
