[submodule "shells"]
	path = shells
	url = https://github.com/UofT-HPRC/shells.git
[submodule "middleware"]
	path = middleware
	url = https://github.com/UofT-HPRC/middleware.git
[submodule "HUMboldt"]
	path = HUMboldt
	url = https://github.com/UofT-HPRC/HUMboldt.git
