[submodule "shells"]
	path = shells
	url = https://github.com/UofT-HPRC/shells.git
[submodule "HUMboldt"]
	path = HUMboldt
	url = https://github.com/UofT-HPRC/HUMboldt.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
